<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"/>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"/>
      
    <title>Document Management System</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
      <style>
          .chat-icon {
              top: 800px;
              position: fixed;
              bottom: 20px;
              right: 20px;
              background-color: #119744;
              color: white;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              z-index: 1000;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          }

          .chat-box {
              top: 350px;
              position: fixed;
              bottom: 80px;
              right: 20px;
              width: 350px;
              height: 430px;
              background-color: white;
              border-radius: 10px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              display: none;
              z-index: 1000;
          }

          .chat-box iframe {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 10px;
          }
      </style>
  </head>
  <body>
    
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

    <section
      class="inner-section single-banner"
      style="background: url(images/hethongQuanLy.png) no-repeat center" >
      <div class="container">
        <h2>Giới thiệu</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
          
        </ol>
      </div>
    </section>
    
    <section class="about-choose">
      <div class="container">
        <div class="row">
          <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
            <div class="section-heading">
              <h2>Mọi người tìm đến Document-Management</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="fas fa-handshake"></i></div>
              <div class="choose-text">
                <h4>100% MIỄN PHÍ - BẢO MẬT AN TOÀN</h4>
                <p>
                    Trong một thị trường đầy sự phát triển và đa dạng như ngày nay, việc đảm bảo sử dụng trang web của
                    chúng tôi một cách miễn phí là một cam kết không thể phủ nhận. Chúng tôi tin rằng mỗi người dùng,
                    từ những cá nhân đến doanh nghiệp, đều có quyền truy cập vào các công cụ quản lý tài liệu điện tử
                    một cách dễ dàng mà không phải bỏ ra chi phí. Điều này không chỉ giúp tạo điều kiện thuận lợi cho
                    mọi người tiếp cận công nghệ, mà còn thúc đẩy sự sáng tạo và tăng cường hiệu suất làm việc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon">
                <i class="fas fa-sync-alt"></i>
              </div>
              <div class="choose-text">
                <h4>CHÍNH SÁCH BẢO MẬT</h4>
                <p>
                    Tuy nhiên, sự miễn phí không phải là tất cả. Chúng tôi cũng cam kết đảm bảo an toàn bảo mật thông tin
                    cho tất cả người dùng của chúng tôi. Tại đây, chúng tôi không chỉ cung cấp các công cụ tiện ích
                    mà còn đặt sự bảo vệ thông tin của bạn lên hàng đầu. Với các biện pháp bảo mật tiên tiến và chính sách bảo mật chặt chẽ,
                    bạn có thể yên tâm rằng dữ liệu của mình sẽ được bảo vệ một cách toàn diện.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="fas fa-headset"></i></div>
              <div class="choose-text">
                <h4>Hệ Thống Hỗ Trợ</h4>
                <p>
                    Nhóm hỗ trợ tức thì có khả năng cung cấp sự giúp đỡ ngay lập tức mà không cần chờ đợi.
                    Điều này đặc biệt quan trọng trong các tình huống khẩn cấp hoặc khi người dùng cần sự hỗ trợ để giải quyết vấn đề ngay lập tức.
                    Có thể đó là một nhóm chuyên về hỗ trợ kỹ thuật, tư vấn khách hàng, quản lý tài khoản, hoặc bất kỳ lĩnh vực nào liên quan đến người dùng hoặc khách hàng.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="fas fa-lock"></i></div>
              <div class="choose-text">
                <h4>Bảo Mật Hệ Thống</h4>
                <p>
                    Bảo mật hệ thống là một yếu tố không thể phủ nhận trong môi trường kỹ thuật số ngày nay,
                    và chúng tôi không chỉ coi đó là một cam kết mà còn là một trách nhiệm hàng đầu. Tại đây,
                    chúng tôi hiểu rằng việc bảo vệ thông tin của bạn không chỉ là việc cần thiết mà còn là quyền lợi của bạn.
                    Với sự chú trọng tới chi tiết và sự sáng tạo không ngừng, chúng tôi đã tích hợp các biện pháp bảo mật tiên tiến nhất
                    vào hệ thống của chúng tôi để đảm bảo an toàn tuyệt đối cho dữ liệu của bạn.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news-part"
             style="background: url(images/book-5.jpg) no-repeat center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-6 col-xl-7">
                    <div class="news-text">
                        <h2>Đăng ký ngay hôm nay và tận hưởng ưu đãi miễn phí!</h2>
                        <p>"Khi bạn đăng ký ngay bây giờ, không chỉ bạn nhận được sự hướng dẫn nhiệt tình, mà còn mở ra cơ hội trải nghiệm sản phẩm chất lượng vượt trội.
                            Với sự kết hợp hoàn hảo chúng tôi cam kết mang đến cho bạn trải nghiệm tuyệt vời nhất mà không tốn một xu.
                            Hãy khám phá ngay!"</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <form class="news-form">
                        <input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" />
                        <button>
                            <span><i class="icofont-email"></i>Gửi</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="intro-part">
        <div class="container">
            <div class="row intro-content">
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon">
                            <i class="fas fa-handshake"></i>
                        </div>
                        <div class="intro-content">
                            <h5>Quản Lý Tài Liệu Miễn Phí</h5>
                            <p>Quản lý tài liệu hoàn toàn miễn phí, trải nghiệm dễ dàng!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon">
                            <i class="fas fa-sync-alt"></i>
                        </div>
                        <div class="intro-content">
                            <h5>Chính Sách Bảo Mật</h5>
                            <p>Tự tin sử dụng - Chính sách bảo mật an toàn, sự hài lòng của bạn là ưu tiên hàng đầu!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon">
                            <i class="fas fa-headset"></i>
                        </div>
                        <div class="intro-content">
                            <h5>Hệ Thống Hỗ Trợ</h5>
                            <p>Liên kết tin cậy - Hệ thống hỗ trợ 24/7, sẵn sàng đồng hành cùng bạn mọi lúc mọi nơi!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="intro-wrap">
                        <div class="intro-icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="intro-content">
                            <h5>Bảo Mật Hệ Thống</h5>
                            <p>Đăng tải và sử dụng tài liêu an toàn - Bảo vệ dựa trên đáng tin cậy!</p>
                        </div>
                    </div>
                </div>
                <div class="chat-icon" onclick="toggleChatBox()">
                    <i class="fa fa-comment"></i> <!-- Sử dụng Font Awesome để thêm biểu tượng chat -->
                </div>
                <div class="chat-box" id="chatBox">
                    <iframe
                            allow="microphone;"
                            src="https://console.dialogflow.com/api-client/demo/embedded/974899ae-eb96-4830-bb1d-b3bba7256d9a">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <script>
        function toggleChatBox() {
            var chatBox = document.getElementById('chatBox');
            if (chatBox.style.display === 'none' || chatBox.style.display === '') {
                chatBox.style.display = 'block';
            } else {
                chatBox.style.display = 'none';
            }
        }
    </script>
	
   <!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
   
   
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
