<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="mironcoder"/>
    <meta name="email" content="mironcoder@gmail.com"/>
    <meta name="profile" content="https://themeforest.net/user/mironcoder"/>
    <meta name="template" content="greeny"/>
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template"/>
    <meta name="keywords"
          content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"/>
    <title>Document Management System</title>
    <link rel="icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css"/>
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css"/>
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css"/>
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css"/>
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css"/>
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/product-details.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha384-DyZ88mC6Up2uqS13mUP7bVgx2k1pHbRlujij2APpVUMy4GopSb3g1t5mg1CwSi5R" crossorigin="anonymous">
    <style>
        .chat-icon {
            top: 550px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #119744;
            color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .chat-box {
            top: 100px;
            position: fixed;
            bottom: 80px;
            right: 20px;
            width: 350px;
            height: 430px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 1000;
        }

        .chat-box iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<!--************************************
            Header Start
    *************************************-->
<header th:replace="~{/web/fragments/header :: header}"></header>
<!--************************************
            Header End
    *************************************-->

<section
        class="single-banner inner-section"
        style="background: url(images/hethongQuanLy.png) no-repeat center"
>
    <div class="container">
        <h2>Chi tiết tài liệu</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        </ol>
    </div>
</section>

<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-gallery">
                    <ul class="details-preview">
                        <li>
                            <img th:src="@{'/loadImage?imageName='+${document.documentImage}}" alt="document"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    <h3 class="details-name">
                        <span>[[${document.documentName}]]</span>
                    </h3>

                    <div class="details-meta">
                        <p> Người đăng tải: <span>[[${document.user.name}]]</span></p>
                    </div>
                    <div class="details-meta">
                        <p> Tên danh mục: &nbsp;&nbsp;&nbsp;&nbsp;<span>[[${categoryName}]]</span></p>
                    </div>

                    <div class="details-meta">
                        <p>Tên thư mục: &nbsp;&nbsp;&nbsp;&nbsp;<span>[[${document.folder.folderName}]]</span></p>
                    </div>

                    <div class="details-meta">
                        <p>Tên tài liệu: &nbsp;&nbsp;&nbsp;&nbsp;<span>[[${document.documentName}]]</span></p>
                    </div>

                    <div class="details-meta">
                        <p>
                            Trạng thái: &nbsp;&nbsp;&nbsp;&nbsp;<span>[[${document.documentStatus.statusName}]]</span>
                        </p>
                    </div>
                    <div class="details-meta">
                        <p>
                            Ngày đăng tải: &nbsp;&nbsp;&nbsp;&nbsp;<span>[[${document.uploadDate}]]</span>
                        </p>
                    </div>

                    <div class="details-list-group">
                        <label class="details-list-title">Share:</label>
                        <ul class="details-share-list">
                            <li>
                                <a href="javascript:void(0);" class="icofont-facebook" title="Facebook"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icofont-twitter" title="Twitter"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icofont-linkedin" title="Linkedin"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icofont-instagram" title="Instagram"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="details-action-group">
                        <th:block th:if="${user.email == null}">
                            <a
                                    title="Hãy đăng nhập"
                                    th:href="@{/login}"
                                    href="javascript:void(0);"
                                    class="details-wish action-button">
                                <i class="icofont-heart"></i>
                                <span>Thêm yêu thích</span>
                            </a>
                        </th:block>
                        <th:block th:if="${user.email != null}">
                            <a th:if="${document.favorite} == false"
                               title="Yêu thích"
                               th:href="@{/doFavorite(id=${document.id})}"
                               style="background-color: rgba(167,231,209,0.45)"
                               class="details-wish action-button">
                                <i class="icofont-heart"></i>
                                <span style="color: #0c0303">Thêm yêu thích</span>
                            </a>
                            <a th:if="${document.favorite} == true"
                               title="Xóa Yêu thích"
                               th:href="@{/doUnFavorite(id=${document.id})}"
                               style="background-color: rgba(167,231,209,0.45)"
                               class="action-button">
                                <i class="fas fa-heart"></i>
                                <span style="color: #0c0303">Xóa Yêu thích</span>
                            </a>
                        </th:block>
                        <a th:href="@{'/loadFile?fileName=' + ${document.documentFile}}"
                           class="action-button"
                           style="background-color: rgba(167,231,209,0.45)">
                            <i class="fas fa-file"></i>
                            <span style="color: #0c0303">Xem trực tiếp tài liệu</span>
                        </a>
<!--                        <a href="javascript:void(0);"-->
<!--                           class="action-button"-->
<!--                           style="background-color: rgba(167,231,209,0.45)"-->
<!--                           onclick="showCommentPopup()">-->
<!--                            <i class="fas fa-comment"></i>-->
<!--                            <span style="color: #0c0303">Bình luận</span>-->
<!--                        </a>-->
                    </div>
<!--                    <div id="commentPopup" class="popup">-->
<!--                        <div class="popup-content">-->
<!--                            <span class="close" onclick="closeCommentPopup()">&times;</span>-->
<!--                            <h2>Viết bình luận</h2>-->
<!--                            <textarea id="commentText" rows="4" cols="50"></textarea>-->
<!--                            <div class="popup-buttons">-->
<!--                                <button onclick="submitComment()">Thêm</button>-->
<!--                                <button onclick="closeCommentPopup()">Hủy</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section newitem-part">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading">
                    <h2>Sản phẩm cùng loại</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="new-slider slider-arrow">
                    <li th:each="item : ${countDocumentByFolder}">
                        <div class="product-card">
                            <div class="product-media">
                                <th:block th:if="${user.email != null}">
                                    <button class="product-wish"
                                            th:if="${item.favorite} == false">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <button
                                            class="product-wish"
                                            th:if="${item.favorite} == true"
                                            style="color: #fd7e14">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </th:block>

                                <th:block th:if="${user.email == null}">
                                    <button class="product-wish">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </th:block>

                                <a class="product-image" href="javascript:void(0);">
                                    <img th:src="@{'/loadImage?imageName='+${item.documentImage}}" alt="product"/>
                                </a>
                                <h6 class="product-name">
                                    <a href="javascript:void(0);" th:href="@{/documentDetails(id=${item.id})}"
                                       style="-webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box;
                                           overflow: hidden;">[[${item.documentName}]]</a>
                                </h6>
                                <div class="product-widget">
                                    <th:block href="/login" th:if="${user.email == null}">
                                        <a title="Hãy đăng nhập" th:href="@{/login}" class="fas fa-heart"></a>
                                    </th:block>
                                    <th:block th:if="${user.email != null}">
                                        <a th:if="${document.favorite} == false" title="Yêu thích"
                                           th:href="@{/doFavorite(id=${item.id})}"
                                           class="fas fa-heart">
                                        </a>
                                        <a th:if="${document.favorite} == true" title="Xóa Yêu thích"
                                           th:href="@{/doUnFavorite(id=${item.id})}"
                                           style="background-color: #fd7e14"
                                           class="fas fa-heart">
                                        </a>
                                    </th:block>
                                    <a title="Chi tiết sản phẩm"
                                       th:href="@{/documentDetails(id=${item.id})}" class="fas fa-eye">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="section-btn-25">
                    <a th:href="@{/documents}" class="btn btn-outline"
                    ><i class="fas fa-eye"></i><span>xem thêm</span></a
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-part"
         style="background: url(images/book-5.jpg) no-repeat center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Đăng ký ngay hôm nay và tận hưởng ưu đãi miễn phí!</h2>
                    <p>"Khi bạn đăng ký ngay bây giờ, không chỉ bạn nhận được sự hướng dẫn nhiệt tình, mà còn mở ra cơ
                        hội trải nghiệm sản phẩm chất lượng vượt trội.
                        Với sự kết hợp hoàn hảo chúng tôi cam kết mang đến cho bạn trải nghiệm tuyệt vời nhất mà không
                        tốn một xu.
                        Hãy khám phá ngay!"</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn"/>
                    <button>
                        <span><i class="icofont-email"></i>Gửi</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="intro-part">
    <div class="container">
        <div class="row intro-content">
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Quản Lý Tài Liệu Miễn Phí</h5>
                        <p>Quản lý tài liệu hoàn toàn miễn phí, trải nghiệm dễ dàng!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Chính Sách Bảo Mật</h5>
                        <p>Tự tin sử dụng - Chính sách bảo mật an toàn, sự hài lòng của bạn là ưu tiên hàng đầu!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Hệ Thống Hỗ Trợ</h5>
                        <p>Liên kết tin cậy - Hệ thống hỗ trợ 24/7, sẵn sàng đồng hành cùng bạn mọi lúc mọi nơi!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Bảo Mật Hệ Thống</h5>
                        <p>Đăng tải và sử dụng tài liêu an toàn - Bảo vệ dựa trên đáng tin cậy!</p>
                    </div>
                </div>
            </div>
            <div class="chat-icon" onclick="toggleChatBox()">
                <i class="fa fa-comment"></i> <!-- Sử dụng Font Awesome để thêm biểu tượng chat -->
            </div>
            <div class="chat-box" id="chatBox">
                <iframe
                        allow="microphone;"
                        src="https://console.dialogflow.com/api-client/demo/embedded/974899ae-eb96-4830-bb1d-b3bba7256d9a">
                </iframe>
            </div>
        </div>
    </div>
</section>

<!--************************************
            Footer Start
    *************************************-->
<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

<!--************************************
            Footer End
    *************************************-->
<script>function showCommentPopup() {
    document.getElementById("commentPopup").style.display = "block";
}

function closeCommentPopup() {
    document.getElementById("commentPopup").style.display = "none";
}

function submitComment() {
    var commentText = document.getElementById("commentText").value;
// Here you can handle the comment submission (e.g., send it to the server)
    console.log("Comment submitted: " + commentText);
    closeCommentPopup();
}
</script>
<script>
    function toggleChatBox() {
        var chatBox = document.getElementById('chatBox');
        if (chatBox.style.display === 'none' || chatBox.style.display === '') {
            chatBox.style.display = 'block';
        } else {
            chatBox.style.display = 'none';
        }
    }
</script>
<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="vendor/bootstrap/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/countdown/countdown.min.js"></script>
<script src="vendor/niceselect/nice-select.min.js"></script>
<script src="vendor/slickslider/slick.min.js"></script>
<script src="vendor/venobox/venobox.min.js"></script>
<script src="js/nice-select.js"></script>
<script src="js/countdown.js"></script>
<script src="js/accordion.js"></script>
<script src="js/venobox.js"></script>
<script src="js/slick.js"></script>
<script src="js/main.js"></script>
</body>
</html>
